* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;



}

body {
    font-family: 'Krona', sans-serif;
    text-align: center;
}

nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a.continue {
    text-align: left;
    position: absolute;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 1px 2px grey;
    font-size: 60px;
    font-weight: 900;
    color: orangered;
    transition: all .25s ease-in;
}

a.continue:hover {
    color: white;
    box-shadow: 3px 3px 4px grey;
    background-color: orangered;
}

h2 {
    opacity: 0;
    top: -100%;



    line-height: 24px;
    position: relative;
    padding-top: 15vh;
    padding-bottom: 10px;
    width: 10vw;
    margin: auto;
    font-size: 20px;

}

.intro {
    position: relative;
    flex-basis: 50%;
}

h2.bad {
    opacity: 0;
    top: -300px;
    color: white;
}

#bad-intro {
    background-color: black;
}

#goodnews {
    right: -300px;

}

#badnews {
    opacity: 0;
    color: white;
    left: -300px;

}

div.link {
    position: relative;
    height: auto;
    opacity: 0;
    padding: 10px;
    font-size: 20px;
    transition: all 1s ease-in-out;
}



/*THE GOOD PAGE*/
div.nav {
    position: absolute;
    border-radius: 50%;
    padding: 30px;
    height: 100px;
    width: 100px;
    background-color: orangered;
    box-shadow: 5px 5px 20px red;
    font-size: 40px;
}



#first-paragraph {
    width: 30vw;
    margin: auto;
    text-align: center;
    font-family: 'Six Caps', sans-serif;
    height: 100vh;
    font-size: 15vw;
    padding: 50px;
}

.item {
    z-index: 0;
    background-color: white;
    position: relative;
    left: 20vw;
    margin: auto;
    margin-top: 20vw;
    margin-bottom: 30vw;

    font-family: 'Six Caps', sans-serif;
    height: 30vw;
    width: 40vw;

}

#social-distancing {
    left: 0vw;
    color: white;
    background-color: black;
    font-size: 1.5vw;
    line-height: 20px;
    padding: 20px;

}

#familytime{
    padding:30px 3vw;
}

div.text {
    padding: 20px;
    height: 10vw;
    color: white;
    font-size: 2vw;
    line-height: 10px;
    letter-spacing: 0px;
    animation: socialdistance 2s ease-in-out infinite;
}

@keyframes socialdistance {
    100% {
        line-height: 40px;
        letter-spacing: 10px;
    }
}

path#sp1 {
    stroke-dashoffset: 5000px;
    stroke-dasharray: 5000px;
    stroke: white;
    stroke-width:9;
    animation: path 10s linear forwards;
}

@keyframes path {
    to {
        stroke-dashoffset: 0px;

    }
}

path#sp2 {
    stroke-dashoffset: 5000px;
    stroke-dasharray: 5000px;
    stroke: orangered;
    stroke-width: 9;
    animation: path2 5s ease-in 10s forwards;
}

@keyframes path2 {
    to {
        stroke-dashoffset: 0px;

    }
}

div#marketpaths {
    background-color: black;
}

div#marketpaths .caption{
    color: white;
}

div.svg {
    display: block;
    top:20px;
margin:auto;
    position:absolute;
    width: 35vw;
}


div.bigbold {
    font-size: 40px;
    font-weight: 900;
}

div.caption {
    bottom:10px;
    line-height: 14px;
    padding-top: 10px;
    position:absolute;
    font-size: 12px;
    text-align: left;
    width: 15vw;
}
div#dolphins{
    margin-bottom: 400px;

    margin:auto;
    overflow: hidden;
}
div#dolphins .svg{
    position:relative;
    
}
/*

header {
    margin-top: 100px;
}

div h2 {
    cursor: pointer;
    text-align: center;
    font-family: 'Six Caps', sans-serif;
    font-size: 50px;
}

.navcontainer {
    display: relative;
}

.navinfo {
    padding: 10px;
    position: relative;
    opacity: .0;
    text-align: center;
    margin: auto;
    margin-bottom: 300px;
    font-family: 'Krona', sans-serif;
}

.underline {
    position: relative;
    left: -200px;
    height: 5px;
    width: auto;
    background-color: lawngreen;
    transition: all .5s ease-in;
}

.link {
    border: 1px solid #000;
    width: auto;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-family: 'Six Caps', sans-serif;
    font-size: 50px;
    overflow: hidden;
    position: absolute;
    left: 45%;
    text-align: center;
    transition: all .1s ease-in;
}


div.link:hover {
    transform: scale(2);
    font-weight: 900;
}

.link:hover div.underline {
    left: 0;
}
*/
